
<% if current_user.nil? %>
 <h1>Welcome, guest!</h1>
 <p>You'll need to log into Spotify to use this application. Click "Sign In With Spotify" above!</p>
<% else %>
 <h1>Welcome, <%= current_user.name %>!</h1>
 <!-- display image, nickname, email etc -->
<% end %>

<%= link_to "Your Favorites", your_favorites_path(session[:user_id]), method: :get %>

<h1>Search suggestions by keyword: </h1>
<%= form_tag do %>
    <%= label_tag :food_pairing_query %>
    <%= text_field_tag :food_pairing_query %>
    <%=submit_tag %>
<% end %>

<%= params %>

<% if @pairing.present? %>
  <p> Your pairing suggestions for <%= @pairing_query %> are: </p>
  <p> Music: <%= @song.name %> </p>
  <p> Restaurant: <%= @food_item.name %> </p>


  <%# button_to "Favorite", action: favorites_path(params["pairing"].id), :controller => "favorite" %>
  <%= link_to "Favorite", favorites_path(@pairing.id), method: :post %>

  <%= link_to "Unfavorite", unfavorites_path(@pairing.id), method: :destroy %>

<% end %>

<h2> Top 20 Favorites </h2>
<% @top20.each do |suggestion| %>
  <%= render "suggestion", :music_suggestion => Music.find(suggestion.music_type, suggestion.music_id), :food_suggestion => Restaurant.find(suggestion.food_id), :uri_sugggestion => Music.find(suggestion.music_type, suggestion.music_id) %>
<% end %>
