<h1>Search suggestions by keyword: </h1>
<%= form_tag do %>
    <%= label_tag :food_pairing_query %>
    <%= text_field_tag :food_pairing_query %>
    <%=submit_tag %>
<% end %>

<%= params %>

<% if params["pairing"].present? %>
  <p> Your pairing suggestions for <%= params["pairing_query"] %> are: </p>
  <p> artist: <%= params["song"].name %> </p>
  <p> food: <%= params["food_item"].name %> </p>
<% end %>
