<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<!-- nav bar someday -->

<% if current_user.nil? %>
 <h1>Welcome, guest!</h1>
 <%= link_to "Sign In With Spotify", "/auth/spotify" %>
 <%= image_tag "spotify.jpeg", height: '100', width: '100' %>
 <p>You'll need to log into Spotify to use this application. Click "Sign In With Spotify" above!</p>
<% else %>
 <h1>
 Hello, <%= link_to "#{User.find(session["user_id"]).name}", "https://open.spotify.com/user/#{User.find(session["user_id"]).uid}" %>!
</h1>

  <%= link_to image_tag(User.find(session["user_id"]).image, height: '100', width: '100'), "https://open.spotify.com/user/#{User.find(session["user_id"]).uid}" %>

  <%= link_to "Sign Out", logout_path, method: :delete %>
<% end %>

<body>

<%= yield %>

</body>
</html>
